In [28]:
import pandas as pd
import re
from fuzzywuzzy import process, fuzz

In [29]:
products = list(pd.read_csv("product_dictionary.csv")["product_name"])
products.sort(key=len, reverse=True)

columns = [
    "flyer_name",
    "product_name",
    "unit_promo_price",
    "uom",
    "least_unit_for_promo",
    "save_per_unit",
    "discount",
    "organic"
]

# df = pd.DataFrame(columns=columns)
flyer_name = process.extract("Boston Butt Pork Roast and Boneless", products)
# looping through line by line
for i in range(8):
#     flyer_name = re.findall("\#.*\#", )[0]
    choices = process.extract("Boston Butt Pork Roast and Boneless", products)
    prod_names = [name for name, num in choices]
    prod_names.sort(key=len, reverse=True)
    flyer_name = prod_names[0]
    df.loc[i] = [1, 2, 3, 4, 5, 6, 7, 8]

,flyer_name,product_name,unit_promo_price,uom,least_unit_for_promo,save_per_unit,discount,organic
0,1,2,3,4,5,6,7,8
1,1,2,3,4,5,6,7,8
2,1,2,3,4,5,6,7,8
3,1,2,3,4,5,6,7,8
4,1,2,3,4,5,6,7,8
5,1,2,3,4,5,6,7,8
6,1,2,3,4,5,6,7,8
7,1,2,3,4,5,6,7,8